header {
    height: 90vh;
    padding-top: 6rem;
    overflow: hidden;
}

.header_container{
    top: -90px;
    text-align: center;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* CTA */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    left: calc(50% - 7rem);
}

/*socials*/

.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 10rem; 
}

.socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*images*/
.avatar{
    background: linear-gradient(var(--color-primary), transparent);
    height: 30rem;
    width: 22rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 1rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/*Media devices*/

@media screen and (max-width: 1024px){
    header {
        height: 105vh;
    }
}

@media screen and (max-width: 600px){
   header{
    height: 140vh;
    padding-left: 15px;
    padding-right: 15px;
   }

   .socials{
    display: none; 
   }
}