.NavbarItems{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    color: white;
    justify-self: start;
    margin-left: 40px;
    cursor: pointer;
}

.navbar-stamp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    color: white;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 30px;
    border: 2px solid white;
    border-radius: 10px 10px 10px 10px;
    padding: 0.5rem 1rem;
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover{
    background-color: gray;
    border-radius: 10px 10px 10px 10px;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: black;
}

.menu-icon{
    display:none;
}

@media screen and (max-width: 1080px){
    .NavbarItems{
        position: relative;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 390px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all -0.5s ease;
    }

    .nav-menu.active{
        background: #fff;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table; 
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        background-color: #dcdcdc;
        border-radius: 10px 10px 10px 10px;
    }

    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .navbar-stamp{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-5%, 14%);
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer; 
    }
}

@media screen and (max-width: 600px) {
    .NavbarItems {
        height: auto; 
    }
    .nav-menu {
        width: 100%;
        height: auto; 
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-links {
        padding: 1rem; 
        width: 100%;
        display: block; 
    }
    .navbar-logo,
    .navbar-stamp,
    .menu-icon {
        position: static; 
        transform: none;
        margin: 10px; 
    }
    .menu-icon {
        font-size: 1.5rem; 
    }
}